In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\razan\Downloads\Assignments Data Analysis\7 - Customer Call List ( Problem pandas python).xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [3]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
dtype: bool

In [4]:
df=df.drop_duplicates()

In [5]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
df=df.set_index('CustomerID')
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
1007,Jeff,Winger,NaN,1209 South Street,No,No,False
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
1019,Creed,Braton,N/a,N/a,N/a,Yes,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [7]:
df=df.drop(columns='Not_Useful_Column')
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1019,Creed,Braton,N/a,N/a,N/a,Yes
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [8]:
df.isnull().any()

First_Name         False
Last_Name           True
Phone_Number        True
Address            False
Paying Customer    False
Do_Not_Contact      True
dtype: bool

In [9]:
import numpy as np

In [10]:
df=df.replace('N/a',np.nan)
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1019,Creed,Braton,NaN,NaN,NaN,Yes
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [11]:
df['Phone_Number'] = df['Phone_Number'].fillna(0)

In [12]:
df[df.isnull().any(axis=1)]

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1009,Gandalf,NaN,0,123 Middle Earth,Yes,NaN
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1019,Creed,Braton,0,NaN,NaN,Yes

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 1001 to 1020
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   First_Name       20 non-null     object
 1   Last_Name        19 non-null     object
 2   Phone_Number     20 non-null     object
 3   Address          19 non-null     object
 4   Paying Customer  19 non-null     object
 5   Do_Not_Contact   16 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [14]:
df=df.drop(1019)
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,0,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No
1009,Gandalf,NaN,0,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,0,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N

In [15]:
df[df.isnull().any(axis=1)]

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
CustomerID,,,,,,
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN
1009,Gandalf,NaN,0,123 Middle Earth,Yes,NaN
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN

In [45]:
df=df.rename(columns={'Paying Customer':'Purchased'})
df

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire
1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,Other
1003,Walter,White,NaN,No,No,298 Drugs Driveway,Other
1004,Dwight,Schrute,123-543-2345,Yes,Yes,980 Paper Avenue,Pennsylvania
1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,Other
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1007,Jeff,Winger,NaN,No,No,1209 South Street,Other
1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,Other
1009,Gandalf,Unknown,NaN,Yes,No,123 Middle Earth,Other
1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York
1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,Other
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other
1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine

In [17]:
df[['Purchased','Do_Not_Contact']]= df[['Purchased','Do_Not_Contact']].replace({'Y':'Yes','N':'No'})
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,No,NaN
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,0,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
1009,Gandalf,NaN,0,123 Middle Earth,Yes,NaN
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,0,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,NaN
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Yes,NaN
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

### I made the Do_Not_Contact No by default so i replace the null with No:

In [18]:
df['Do_Not_Contact']=df['Do_Not_Contact'].replace(np.nan,'No')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,0,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
1009,Gandalf,NaN,0,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,0,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [19]:
df.Phone_Number.replace(0,np.nan,inplace=True)
df

C:\Users\razan\AppData\Local\Temp\ipykernel_29880\591476222.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Phone_Number.replace(0,np.nan,inplace=True)

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [20]:
df.Last_Name.str.contains('_')

CustomerID
1001    False
1002    False
1003    False
1004    False
1005    False
1006    False
1007    False
1008    False
1009      NaN
1010    False
1011    False
1012    False
1013    False
1014    False
1015     True
1016    False
1017    False
1018    False
1020    False
Name: Last_Name, dtype: object

In [21]:
df['Last_Name']=df['Last_Name'].str.rstrip('_')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,/White,7066950392,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [22]:
df['Last_Name']=df['Last_Name'].str.lstrip('/.')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes
1003,Walter,White,7066950392,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876|678|3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,No
1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,7066950392,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,No

In [23]:
df.Phone_Number=df.Phone_Number.str.replace('/','-')
df.Phone_Number=df.Phone_Number.str.replace('|','-')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
1003,Walter,White,NaN,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,NaN,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [24]:
df.Last_Name=df.Last_Name.replace(np.nan,'Unknown')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact
CustomerID,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes
1003,Walter,White,NaN,298 Drugs Driveway,No,No
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes
1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
1007,Jeff,Winger,NaN,1209 South Street,No,No
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No
1009,Gandalf,Unknown,NaN,123 Middle Earth,Yes,No
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Yes,No
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No
1018,Clark,Kent,NaN,3498 Super Lane,Yes,No
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No

In [25]:
df[['Street','City','ZIP Code']]=df['Address'].str.split(pat=',',expand=True)
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact,Street,City,ZIP Code
CustomerID,,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None
1003,Walter,White,NaN,298 Drugs Driveway,No,No,298 Drugs Driveway,None,None
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania,18503
1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,123 Dragons Road,None,None
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768 City Parkway,None,None
1007,Jeff,Winger,NaN,1209 South Street,No,No,1209 South Street,None,None
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,98 Clue Drive,None,None
1009,Gandalf,Unknown,NaN,123 Middle Earth,Yes,No,123 Middle Earth,None,None
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York,None
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire,None
1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Yes,No,2394 Hogwarts Avenue,None,None
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,2039 Main Street,None,None
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,None,None
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,214 HR Avenue,None,None
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,None,None
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania,None
1018,Clark,Kent,NaN,3498 Super Lane,Yes,No,3498 Super Lane,None,None
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine,None

In [26]:
df=df.drop(columns='ZIP Code')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None
1003,Walter,White,NaN,298 Drugs Driveway,No,No,298 Drugs Driveway,None
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania
1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,123 Dragons Road,None
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768 City Parkway,None
1007,Jeff,Winger,NaN,1209 South Street,No,No,1209 South Street,None
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,98 Clue Drive,None
1009,Gandalf,Unknown,NaN,123 Middle Earth,Yes,No,123 Middle Earth,None
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire
1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Yes,No,2394 Hogwarts Avenue,None
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,2039 Main Street,None
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,None
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,214 HR Avenue,None
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,None
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania
1018,Clark,Kent,NaN,3498 Super Lane,Yes,No,3498 Super Lane,None
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine

In [27]:
df.City=df.City.replace(np.nan,'Other')
df

,First_Name,Last_Name,Phone_Number,Address,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire
1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,Other
1003,Walter,White,NaN,298 Drugs Driveway,No,No,298 Drugs Driveway,Other
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Yes,980 Paper Avenue,Pennsylvania
1005,Jon,Snow,876-678-3469,123 Dragons Road,Yes,No,123 Dragons Road,Other
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,768 City Parkway,Other
1007,Jeff,Winger,NaN,1209 South Street,No,No,1209 South Street,Other
1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No,No,98 Clue Drive,Other
1009,Gandalf,Unknown,NaN,123 Middle Earth,Yes,No,123 Middle Earth,Other
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,25th Main Street,New York
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,612 Shire Lane,Shire
1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Yes,No,2394 Hogwarts Avenue,Other
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,No,2039 Main Street,Other
1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,343 City Parkway,Other
1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No,No,214 HR Avenue,Other
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,No,2395 Hogwarts Avenue,Other
1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,121 Paper Avenue,Pennsylvania
1018,Clark,Kent,NaN,3498 Super Lane,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,No,910 Tatooine Road,Tatooine

In [28]:
df=df.drop(columns='Address')
df

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire
1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,Other
1003,Walter,White,NaN,No,No,298 Drugs Driveway,Other
1004,Dwight,Schrute,123-543-2345,Yes,Yes,980 Paper Avenue,Pennsylvania
1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,Other
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1007,Jeff,Winger,NaN,No,No,1209 South Street,Other
1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,Other
1009,Gandalf,Unknown,NaN,Yes,No,123 Middle Earth,Other
1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York
1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,Other
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other
1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine

In [29]:
print ("total number of customers = ",df.First_Name.count())

total number of customers =  19

In [30]:
df[df.Street.str.contains('Hog')]

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other

In [31]:
df.dtypes

First_Name        object
Last_Name         object
Phone_Number      object
Purchased         object
Do_Not_Contact    object
Street            object
City              object
dtype: object

In [32]:
df[df.First_Name.str.contains('Les')]

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other

In [33]:
city = ['Shire','New York']
df[df.City.isin(city)]

Empty DataFrame
Columns: [First_Name, Last_Name, Phone_Number, Purchased, Do_Not_Contact, Street, City]
Index: []

In [34]:
df[df['City']=='Pennsylvania']

Empty DataFrame
Columns: [First_Name, Last_Name, Phone_Number, Purchased, Do_Not_Contact, Street, City]
Index: []

In [35]:
df.filter(like='Hogwarts',axis=0)

Empty DataFrame
Columns: [First_Name, Last_Name, Phone_Number, Purchased, Do_Not_Contact, Street, City]
Index: []

In [36]:
df.filter(items=['2395 Hogwarts Avenue'],axis=0)

Empty DataFrame
Columns: [First_Name, Last_Name, Phone_Number, Purchased, Do_Not_Contact, Street, City]
Index: []

In [37]:
df.loc[1017]

First_Name                Michael
Last_Name                    Scott
Phone_Number          123-643-9775
Purchased                      Yes
Do_Not_Contact                  No
Street            121 Paper Avenue
City                  Pennsylvania
Name: 1017, dtype: object

In [38]:
df.iloc[16]

First_Name                Michael
Last_Name                    Scott
Phone_Number          123-643-9775
Purchased                      Yes
Do_Not_Contact                  No
Street            121 Paper Avenue
City                  Pennsylvania
Name: 1017, dtype: object

In [39]:
df.sort_values(by=['First_Name','Last_Name'])

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,Other
1004,Dwight,Schrute,123-543-2345,Yes,Yes,980 Paper Avenue,Pennsylvania
1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire
1009,Gandalf,Unknown,NaN,Yes,No,123 Middle Earth,Other
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1007,Jeff,Winger,NaN,No,No,1209 South Street,Other
1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,Other
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other
1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania
1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire
1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,Other
1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,Other
1003,Walter,White,NaN,No,No,298 Drugs Driveway,Other

In [40]:
df.sort_values(by=['First_Name','Last_Name'],ascending = False)

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1003,Walter,White,NaN,No,No,298 Drugs Driveway,Other
1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,Other
1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,Other
1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York
1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other
1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,Other
1007,Jeff,Winger,NaN,No,No,1209 South Street,Other
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1009,Gandalf,Unknown,NaN,Yes,No,123 Middle Earth,Other
1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire
1004,Dwight,Schrute,123-543-2345,Yes,Yes,980 Paper Avenue,Pennsylvania
1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,Other
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine
1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,Other

In [41]:
df.rename(columns={'Purchased':'Payed'})

,First_Name,Last_Name,Phone_Number,Payed,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,Yes,No,123 Shire Lane,Shire
1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street,Other
1003,Walter,White,NaN,No,No,298 Drugs Driveway,Other
1004,Dwight,Schrute,123-543-2345,Yes,Yes,980 Paper Avenue,Pennsylvania
1005,Jon,Snow,876-678-3469,Yes,No,123 Dragons Road,Other
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1007,Jeff,Winger,NaN,No,No,1209 South Street,Other
1008,Sherlock,Holmes,876-678-3469,No,No,98 Clue Drive,Other
1009,Gandalf,Unknown,NaN,Yes,No,123 Middle Earth,Other
1010,Peter,Parker,123-545-5421,Yes,No,25th Main Street,New York
1011,Samwise,Gamgee,NaN,Yes,No,612 Shire Lane,Shire
1012,Harry,Potter,NaN,Yes,No,2394 Hogwarts Avenue,Other
1013,Don,Draper,123-543-2345,Yes,No,2039 Main Street,Other
1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway,Other
1015,Toby,Flenderson,304-762-2467,No,No,214 HR Avenue,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1017,Michael,Scott,123-643-9775,Yes,No,121 Paper Avenue,Pennsylvania
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine

In [42]:
names=['Ron','Clark','Anakin']
df[df['First_Name'].isin(names)]

,First_Name,Last_Name,Phone_Number,Purchased,Do_Not_Contact,Street,City
CustomerID,,,,,,,
1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway,Other
1016,Ron,Weasley,123-545-5421,No,No,2395 Hogwarts Avenue,Other
1018,Clark,Kent,NaN,Yes,No,3498 Super Lane,Other
1020,Anakin,Skywalker,876-678-3469,Yes,No,910 Tatooine Road,Tatooine